/****************************************************************************************
*																						*
*									CUSTOM												*
*																						*
*****************************************************************************************/

.label{
  border: 0;
  border-radius: 300px;
  text-transform: uppercase;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  font-weight: 700;
}

.label-primary{
	border-color: #f05f40;
	color: #fff;
	background-color: #f05f40;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
}

a.nav-login{
	padding: 1px 5px !important;
	font-size: 12px !important;
	line-height: 1.5 !important;
	border-radius: 3px !important;
	color:#666 !important;
	margin-top: 15px;
	margin-right: 10px;
}

.dropdown-menu{
	border: none;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary{
  background: #f05f40;
}

.bootstrap-switch.bootstrap-switch-focused{
  border-color: #f05f40;
}

.modal-title{
  color:#333;
}

/****************************************************************************************
*																						*
*									LOGIN												*
*																						*
*****************************************************************************************/

section#login{
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.wrapper {    
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

section#login .input-group{
	margin-bottom:15px;
}

